In [ ]:
#con scikit-learn podemos dividir un conjunto de datos disponibles, en datos para pruebas y datos para test.
!pip install sklearn
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
#Creamos unos datos a partir de numpy, numeros del 0 al 100, con forma de 100 filas por 4 columnas
datos = np.random.randint(0, 100, (100,4))

In [7]:
datos

array([[31,  6, 93, 56],
       [43, 41, 11, 43],
       [91,  5, 96, 64],
       [76, 92, 86, 19],
       [15, 38, 24, 60],
       [78, 78, 54, 37],
       [66, 42,  2,  0],
       [55, 36, 83, 98],
       [30, 12, 41, 69],
       [77,  5,  3, 13],
       [ 0, 67, 10, 82],
       [95, 14, 32,  2],
       [70, 58, 76, 25],
       [22,  2, 28, 30],
       [63, 86, 61, 49],
       [28, 58, 26, 19],
       [74, 27, 27, 74],
       [79, 61, 53, 87],
       [45, 50,  1, 11],
       [71, 39, 89, 70],
       [24, 62, 26, 74],
       [33, 53, 82, 65],
       [75, 42, 48, 41],
       [85, 11, 75, 75],
       [45,  3, 66, 48],
       [ 1, 10, 26, 89],
       [18, 63, 74, 46],
       [38, 96,  6,  4],
       [92, 73,  6, 52],
       [89, 59, 54, 64],
       [77, 18, 76, 18],
       [52, 54,  8, 44],
       [87, 57, 87, 88],
       [76, 40, 67, 24],
       [ 9, 58, 62, 66],
       [31, 60,  9, 59],
       [12, 90, 17, 47],
       [27, 71, 82, 85],
       [91, 12, 80, 84],
       [21,  2, 81, 76],
       [ 8, 48, 15, 23],
       [65, 71, 72, 75],
       [81, 14,  8, 81],
       [47, 53, 31, 51],
       [50, 34, 23, 14],
       [59, 70, 38,  9],
       [47, 87, 62, 14],
       [95, 25, 25, 72],
       [40, 15, 80, 35],
       [61, 59, 69, 31],
       [22, 56, 32, 18],
       [85, 54, 87, 33],
       [ 8,  2, 14, 78],
       [65, 93, 17, 23],
       [42, 50, 49, 13],
       [24,  9, 25, 23],
       [99, 96, 63, 30],
       [16, 28, 30, 96],
       [ 1, 17, 88, 81],
       [43, 94, 68, 78],
       [69, 53, 19, 76],
       [ 0, 96, 74, 46],
       [67, 30, 45, 76],
       [25, 69, 59, 69],
       [ 4, 26, 78, 80],
       [76, 69, 84, 91],
       [36, 82, 41, 86],
       [64, 32, 64, 82],
       [12, 62, 59, 70],
       [53, 31, 20, 15],
       [58, 12, 20, 82],
       [95, 81, 80,  8],
       [72, 11, 50, 73],
       [41, 10, 71, 12],
       [ 6, 21, 58,  0],
       [34, 99, 47, 23],
       [25, 91, 97, 43],
       [22, 92, 85, 72],
       [76, 58, 37, 44],
       [56, 35, 55,  1],
       [63, 74, 88, 52],
       [26, 99, 73, 20],
       [32, 38, 93, 90],
       [58, 92, 23, 61],
       [40, 41, 13,  0],
       [74, 74, 33, 64],
       [45, 17, 41, 36],
       [17, 43, 39, 87],
       [99, 24, 48, 51],
       [20, 97, 23, 21],
       [41, 14, 80, 96],
       [90, 74, 99, 55],
       [72, 98, 49, 98],
       [61, 79, 20, 30],
       [ 5, 15, 12, 56],
       [46, 96, 38, 91],
       [22, 75, 63, 26],
       [43, 97, 19, 82],
       [ 0, 90, 91, 83],
       [96, 41, 40, 12]])

In [11]:
#Ahora creamos un dataframe a partir de los datos, data=datos, estos son los datos que creamos arriba, como columnas una lista de etiquetas,
#caracteristica 1 2 3, la etiqueta o label el resultado, la caracteristica da como resultado la etiqueta (valor real, solucion, respuesta)
dataframe = pd.DataFrame(data=datos, columns=['c1','c2','c3','Etiqueta'])
dataframe

    c1  c2  c3  Etiqueta
0   31   6  93        56
1   43  41  11        43
2   91   5  96        64
3   76  92  86        19
4   15  38  24        60
..  ..  ..  ..       ...
95  46  96  38        91
96  22  75  63        26
97  43  97  19        82
98   0  90  91        83
99  96  41  40        12

[100 rows x 4 columns]

In [12]:
#Si queremos dividir el dataframe en 2 partes, para entrenar y otra para test
#Primero se crea una variable x, que serian los datos o caracteristicas (3 primeras columnas)
#dataframe, una lista de valores
X = dataframe[['c1', 'c2', 'c3']]
X
#Asi la variable X va a tener las caracteristicas, 3 primeras columnas

    c1  c2  c3
0   31   6  93
1   43  41  11
2   91   5  96
3   76  92  86
4   15  38  24
..  ..  ..  ..
95  46  96  38
96  22  75  63
97  43  97  19
98   0  90  91
99  96  41  40

[100 rows x 3 columns]

In [16]:
# En la y, solo estaria la columna etiqueta
y = dataframe['Etiqueta']
y
#Con esto separamos la y ultima columna, x las primeras 3 columnas

0     56
1     43
2     64
3     19
4     60
      ..
95    91
96    26
97    82
98    83
99    12
Name: Etiqueta, Length: 100, dtype: int64

In [19]:
#Ahora tenemos queremos separar la x y la 'y' cada una de ellas en una parte para entrenamiento train, y la otra en test
#La variable X, lo separamos en train y test, tambien para la var 'y'
#Todo esto se hace mediante el train_test_split, le pasamos la X (3 primeras columnas) y(ultima columna), y le damos el tamaño, el 0.3, el 30% de los datos, 30 filas, sean para test
# y el resto para train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
#con shape, revisamos que el 70% sea para train y el 30 para test
X_train.shape

In [ ]:
#Vemos cuanto quedo para test.
X_test.shape

In [23]:
y_train.shape

(70,)

In [24]:
y_test.shape

(30,)